{{define "yield"}}

<a href="/"><h1>ESCO Electric Costs</h1> </a>

{{.HTML}}

<div id="graphInfo">
    <div id="top">
        <p>Total is calculated with my {{.Month.Month}} {{.Month.Year}} kw usage * rate per ESCO + conEd delivery charge for {{.Month.Month}} {{.Month.Year}} </p>

        <p><i>Total is above calculation minus the fees and taxes</i></p>
    </div>
    <div id="innerGraphContainer">
        <div id="innerTop">
        <h4>{{.Month.Month}} {{.Month.Year}} Data</h4>
        <p>My kW usage: {{.Month.Wattage}}</p>
        <p>My delivery charge: ${{.Month.Delivery}}</p>
        <p>My actual Bill (with fees): ${{.Month.Total}} at {{.Month.Rate}}¢/kWh</p>
        </div>
    <div id="key">
        <h4>Key:</h4>
        <div id="orange"></div>
        <p>Lowest ESCO per Total</p>
        <br>
        <div id="pink"></div>
        <p>Coned Total</p>
        <br>
        <div id="green"></div>
        <p>Coned is lowest energy supplier</p>
    </div>
  </div>
</div>

{{end}}
